extends ../layout

block content
  div.col-md-10.mx-auto
    ul#adminTab.nav.nav-tabs(role='tablist')
      li.nav-item
        a#users-tab.nav-link.active(data-toggle='tab', href='#users', role='tab', aria-controls='users', aria-selected='true') Users
      li.nav-item
        a#stores-tab.nav-link(data-toggle='tab', href='#stores', role='tab', aria-controls='stores', aria-selected='false') Stores
    #adminTabContent.tab-content
      #users.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='users-tab')
        table.table(cellspacing='0')
          thead
            tr
              th(scope="col") Username
              th(scope="col") First Name
              th(scope="col") Last Name
              th(scope="col") Role
              th(scope="col") 
          tbody
            for val, index in users
              tr
                td=val.Username
                td=val.FirstName
                td=val.LastName
                if val.Roles[0]
                  td=val.Roles[0].RoleName
                else 
                  td
                td
                  button(class='btn btn-secondary' type='button', data-toggle='modal', data-target='#editUserModal' + index) Edit Role
                  .modal.fade(id="editUserModal"+index, tabindex='-1', role='dialog', aria-hidden='true' )
                    .modal-dialog(role='document')
                      .modal-content
                        .modal-header
                          h5.modal-title Editing role for #{users[index].FirstName} #{users[index].LastName}
                          button.close(type='button', data-dismiss='modal', aria-label='Close') 
                          span(aria-hidden='true') &times;
                        .modal-body
                          h6 Current Role: #{users[index].Roles[0] ? users[index].Roles[0].RoleName : "N/A"}
                          form(action="/user/editRole", method="post")
                            .form-group
                              input.form-control(type='hidden' name='username' value=users[index].Username)
                            .form-group
                              label(for='roles') Change To:
                              select#role.form-control(name="roles[]")
                                option(value="")
                                option(value="1") Admin
                                option(value="2") Manager
                                option(value="3") Employee
                                option(value="4") Guest 
                            button.btn.btn-primary.float-right(type='submit') Save
            a.float-right(href="/user/register" class="btn btn-primary") Add User
      #stores.tab-pane.fade(role='tabpanel', aria-labelledby='stores-tab')
        table.table(cellspacing='0')
          thead
            tr
              th(scope="col") Store ID
              th(scope="col") Store Name
              th(scope="col") Percentage
          tbody
            for val, index in stores
              tr
                td=val.StoreId
                td=val.StoreName
                td=val.StorePercentage

            button.float-right(class='btn btn-primary' type='button', data-toggle='modal', data-target='#addStoreModal') Add Store
            .modal.fade(id="addStoreModal", tabindex='-1', role='dialog', aria-hidden='true' )
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5.modal-title Add Store
                    button.close(type='button', data-dismiss='modal', aria-label='Close') 
                    span(aria-hidden='true') &times;
                  .modal-body
                    form(action="/store/add", method="post")
                      .form-group
                        label(for="storeName") Store Name
                        input.form-control(type='text' name='storeName' placeholder="Store Name")
                      .form-group
                        label(for="storePercentage") Store Percentage
                        input.form-control(type='text' name='storePercentage' placeholder="Store Percentage")
                      button.btn.btn-primary.float-right(type='submit') Save

