extends ../layout

block content
  if user.role != "Unauth"
    .container(class="col-md-4")
      form(action="/phones/filter", method="POST")
        .form-group
          label(for="storeId") Showing results for: 
          .input-group
            select.form-control.mr-1(name="storeId")
              if stores
                option(value="0") -- Select Store --
                for val, index in stores
                  option(value=val.StoreId selected = val.StoreId==currStore ? true : false) #{val.StoreName}
            button.btn.btn-primary(type="submit") Filter
  .container(class="col-md-8")
    h4 Accessories
    table.table
      thead
      tr
        th(scope='col') Name
        th(scope='col') Serial Number
        th(scope='col') IMEI
        th(scope='col') Retail Price
        th(scope='col') Manufacturer
        th(scope='col')
      tbody
      if data
        each val, index in data
          tr
            td=val.Name
            td=val.SerialNumber
            td=val.IMEI
            td="$" + val.RetailPrice
            td=val.ItemManufacturerName
            td 
              if user.role == "Admin" || user.role == "Manager"
                form(action='/phones/delete', method='post')
                  button(class='btn btn-danger' type='submit', name='id', value=val.Id) X
    if user.role == "Admin" || user.role == "Manager" || user.role == "Employee"
      button.btn.btn-primary.float-right(type='button', data-toggle='modal', data-target='#phoneModal')
        | Add
    #phoneModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Add Device
            button.close(type='button', data-dismiss='modal', aria-label='Close') 
            span(aria-hidden='true') &times;
          .modal-body
            form(action="/phones/add", method="post")
              .form-group
                label(for='name') Name
                input.form-control(type='text' name='name' placeholder='Name' required)
              .form-group
                label(for='serialNumber') Serial Number
                input.form-control(type='number' name='serialNumber' placeholder='Serial Number' required)
              .form-group
                label(for='imei') IMEI
                input.form-control(type='text' name='imei' placeholder='IMEI' required)
              .form-group
                label(for='retailPrice') Retail Price
                input.form-control(type='number' step=".01" name='retailPrice' placeholder='Retail Price' required)
              .form-group
                label(for='itemManufacturerId') Manufacturer
                select#itemManufacturerId.form-control(name="itemManufacturerId" required)
                  each man, index in manufacturers
                    option(value=man.Id) #{man.Manufacturer}
              .form-group
                input(type="hidden" name="store" value=currStore ? currStore : null)
              button.btn.btn-primary.float-right(type='submit') Submit